/* global color variable properties */
:root {
    --primary-color: #556b2f;
    --secondary-color: #fff;
    --tertiary-color: #262626;
}
/* end */

/* all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--secondary-color);
}

body {
    background-color: var(--primary-color);
    font-family: "Calibre", "Inter", "San Francisco","SF Pro Text", sans-serif;
}

section {
    padding: 60px;
}
/* end */

/* header */
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/jumbotron.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 1995;
}

.header h1 {
    margin: 0;
    font-size: 40px;
    font-weight: lighter;
    text-shadow: 0 0 25px var(--primary-color);
}

header nav {
   margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 15px var(--secondary-color);
    border-bottom: 3px solid var(--primary-color);
}

header nav ul li a:not(last child) {
    margin-right: 12px;
}

header nav ul li a:hover {
    background: var(--primary-color);
    border-radius: 15px;
    text-shadow: none;
}
/* end */

/* anchor elements */
a {
    text-decoration: none;
}
/* end */

/* jumbotron */
.jumbotron {
    height: 700px;
    width: 100%;
    background-image: url("../images/jumbotron.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 100%;
}

/* FIX THE H2, CENTER IT AT THE BOTTOM */
.jumbotron-subtitle h2 {
    display: flex;
    justify-content: space-around;
    font-weight: lighter;
    font-size: 32px;
    text-shadow: 0 0 25px var(--primary-color);
}
/* end */

/* all section titles */
.section-title {
    font-size: 50px;
    font-weight: lighter;
    border-bottom: 3px solid var(--tertiary-color);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}
/* end */

/* about section */
.about-me img {
    border-radius: 100%;
    border: 3px solid var(--tertiary-color);
    width: 30%;
    height: 10%;
    box-shadow: 0 0 20px var(--tertiary-color);
}

.about-me p {
    width: 40%;
    line-height: 1.5;
    font-size: 20px;
}

.about-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
/* end */

/* work section */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.flex-item {
  width: 30%;
  border-radius: 15px;
  border: 2px solid var(--tertiary-color);
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  min-height: 250px;
  padding: 20px 0;
  background-size: cover;
  background-position: center;
}

.flex-item a {
    margin-top: auto;
    width: 100%;
    background-color: rgba(85, 107, 47, 0.7);
    padding: 10px 5px;
    text-align: center;
}

.run-buddy {
    background-image: url("../images/runBuddy-mockup.png");
}

.horiseon {
    background-image: url("../images/horiseon-mockup.png");
}

.first-project {
    background-image: url("../images/webpage-screenshot.png");
}

.coming-soon {
    background-image: url("../images/coming-soon.jpeg");
}
/* end */

/* contact section */
.contact-links {
    width: fit-content;
    border-left: 2px solid var(--secondary-color);
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
}
.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
/* end */

/* footer */
footer {
    width: 100%;
    padding: 30px 25px;
    display: flex;
    justify-content: space-around;
}
/* end */